<div class="group db-white rounded-2xl shadow-lg p-4">
  <%=image_tag 'my_card.png', class: 'group-hover:scale-110 transform transition duration-300 ease-in-out
  rounded-2xl shadow-lg h-40 w-40' %>
  <div>
    <p class="font-semibold"
     >Masashi</p>
    <p> Card is a simple app that allows you to create a digital business card.</p>
    <div>
      <p class="group-hover:scale-110 transform transition duration-300 ease-in-out">
      <%= link_to 'https://my-card-app.herokuapp.com/', 'https://my-card-app.herokuapp.com/' %></p>
    </div>
  </div>
</div>
